<div class="grid-items">
  <div class="grid-item">
    <div class="grid-heading">
      <h1>Categorias</h1>
    </div>
    <div class=grid-content>
      <span class="pull-left">
        teste
      </span>
      <span class="pull-right">
        teste2
      </span>
      <span class="clearfix"></span>
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-heading">
      <h1>Ùltimos inseridos</h1>
    </div>
    <div class=grid-content>
      <table class="table-minimal">
        <thead>
          <tr>
            <th>Header Cell 1</th>
            <th>Header Cell 2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1 Cell 1</td>
            <td>Row 1 Cell 2</td>
          </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-heading">
      <h1>Estatísticas</h1>
    </div>
    <div class=grid-content>
      <span class="pull-left">
        teste
      </span>
      <span class="pull-right">
        teste2
      </span>
      <span class="clearfix"></span>
    </div>
  </div>
</div>


