<footer class="footer-2">
  <div class="footer-text">
    © 2015 CMS Tracersoft.
  </div>
  <div class="footer-logo">
    <%= link_to 'http://www.tracersoft.com.br', target: '_blank' do %>
      <%= image_tag image_path('tingui/tracer-logo.png') %>
    <% end %>
  </div>
</footer>
