<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="navigation-logo">
      <a href="javascript:void(0)">
        #tingui logo 
      </a>
  </div>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more">
        <a href="javascript:void(0)"><%= Tingui::Post.human_name %></a>
          <ul class="submenu">
            <li><%= link_to t('posts.new'), new_post_path %></li>
            <li><%= link_to t('posts.all'), posts_path %></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
